extends _includes/layout.pug

block content
  include _includes/header.pug
  main.hero.is-fullheight
    .container
      article.notification.tile.is-parent.is-vertical
        section.users
          p.title load users
        .controls
          button#add-user.button.is-info add user
          button#fetch-users.button.is-info fetch users
  include _includes/footer.pug
block script
  script(src="vendors/axios.min.js")
  script(src="js/users.js")
