header
  nav.navbar.is-dark(role="navigation", aria-label="main navigation")
    .navbar-brand
      a.navbar-item(href='/') REST API
      a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navMenu')
        span(aria-hidden='true')
        span(aria-hidden='true')
        span(aria-hidden='true')
    #navMenu.navbar-menu
      .navbar-end
        a.navbar-item(href="/") Home
        a.navbar-item(href="/users") Users
        a.navbar-item(href="/files") Files
